<div>
    <h5>One way binding example</h5>
    {{WelcomeText}}
    <input type="text" [value]="welcomeText"/>
</div>
<div>
    <h5>Two way binding using ngModel from Forms</h5>
    Enter name:
    <input type="text" [(ngModel)]="myName"/>
    <p>Hello, {{myName}}</p>
</div>
<div>
    <h5>Two way binding using reference variable</h5>
    Enter name:
    <input type="text" #txtValue (keyup)="0"/>
    <p>Welcome {{txtValue.value}}</p>
</div>
<div>
    Event binding
    <button (click)="youClicked()">Click me!</button>
    <p>{{clickMessage}}</p>
</div>
<div>
    <h5>Two way binding with events and reference variable</h5>
    Enter your name:
    <input type="text" #myInput (keyup)="0"/>
    <button (click)="onClickMe(myInput.value)">Click me too</button>
    <p>{{helloMessage}}</p>
</div>
<div>
    <h5>Check a check if checkCheck</h5>
    <input type='checkbox' id='select_all'/>Check <br/>
    <input type='checkbox' id='select_all'/>Check,check
</div>